* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  /* box-sizing: border-box;
  outline: 1px solid limegreen !important; */
}

.background{
  height: fit-content;
  width: 100%;
  background: linear-gradient(135deg, #1e1e1e 0%, #3d3d3d 74%);
}
.cont {
  min-height: 100vh;
  width: 100%;
  background-image: url(../../assets/images/index.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row{
  width: 60rem;
  max-width: 90vw;
  background-color: rgba(45, 48, 55,0.95);
  border-radius: .5rem;
  border: .1875rem solid #34383b;
  box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,0.3);
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Left Section */
.main{
  max-height: 90vh;
  min-height: 60vh;
}
/* Logo */
.full-logo{
  display: flex;
  align-items: center;
  justify-self: start;
  height: 2.4rem;
  font-size: 2.4rem;
  margin: 2rem auto;
}
.logo-image{
  height: 100%;
}
.logo-name{
  font-size: 1em;
  color:white;
  font-weight: 600;
}
.grad-text{
  background: linear-gradient(to right, #8b33c5, #15a0e1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-container {
  max-width: 28.125rem;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: .1875rem solid rgba(52, 56, 59,0.5);
}

.separator {
  width: 10rem;
  height: 0.2rem;
  background-color: #843bc7;
}

.welcome-message {
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: #c8ccd5;
}
.signup{
  color: #15a0e1c7;
  cursor: pointer;

}
.signup:hover{
  color: #8b33c5;
}

.login-form {
  width: 100%;
  max-height: 20rem;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-control {
  width: 100%;
  position: relative;
  background-color: transparent;
  border-radius: 1.875rem;
  border: .125rem solid #000;
  box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,0.4);
}
input:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);

}
input,
button {
  border: none;
  outline: none;
  border-radius: 1.5rem;
  font-size: 1em;
}

input {
  width: 100%;
  background: #e6e6e6;
  color: #333;
  letter-spacing: .0313rem;
  padding: .65rem 3.5rem;
}

input ~ i {
  position: absolute;
  left: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  transition: color   0.4s;
}
.input-error{
font-size: 0.8em;
height:0.8em
}
input:focus ~ i {
  color: #843bc7;
}
form p{
  font-size: 0.8rem;
  color: white;
}
.error-message{
  font-size: 0.8rem;
}
.visible{
  visibility: visible;
}
.hidden{
  visibility: hidden;
}
button.submit {
  color: #fff;
  padding: .6875rem 3.25rem;
  margin: 1rem auto;
  text-transform: uppercase;
  letter-spacing: .0875rem;
  font-weight: bold;
  background-image: linear-gradient(to right, #8b33c5, #15a0e1);
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.4s;
  font-size: 1.2em;
}

button.submit:hover {
  opacity: 1;
}
.forgot-password{
  cursor: pointer;
  margin: auto;
}
.forgot-password:hover{
color:#ca97fa
}
/* Right Section */
.side{
  background-color: rgba(255,255,255,0.01);
  display: grid;
  color: white;
}
.title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: .05rem;
  margin:0 5rem;
}

/* Svg */
.svg-wrap{
  width: 60%;
  max-width: 60%;
  margin: 0 auto;
  background-image: url(../../assets/images/bubble.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.side .svg {
  width:100%;
  animation: MoveUpDown 5s ease-in-out infinite;
}
spinner{
margin-top:1.8375rem !important;
margin-bottom: 0.8375rem !important;
height: 2.5rem;
width: 2.5rem;
margin: auto;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}


