<div class="background">

  <div class="cont">
    <div class="row">

      <section class="main col-5">
        <div class="login-container">

          <div class="full-logo mx-3">
            <img src="../../assets/images/Logo-web-night.png" class="logo-image">
            <div>
              <span class="logo-name">
                WEB<span class="grad-text">SCRAPY</span>
            </span>
            </div>
          </div>

            <div class="separator"></div>
          <router-outlet></router-outlet>
        </div>
    </section>

   <section class="side col-7">
    <p class="title grad-text">Welcome back</p>
    <div class="svg-wrap">
      <img class="svg" src="../../assets/images/web-scraping.png" alt="">
    </div>
   </section>


    </div>


</div>
</div>

