
<nav class="navigation-bar">

   

        <a href="#" class="navbar-brand">Here will be logo</a>

        <button class="nav-link navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navmenu" type="button">
            <span class="navbar-toggler-icon color-dark"></span>
        </button>

        <div class="collapse navbar-collapse pe-md-3" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="#learn" class="nav-link text-dark">Watchlist</a>
                </li>

                <button class="btn btn-purple btn-sm" type="button">Add Item</button>

            </ul>
            
            
            <i class="bi bi-person-circle person-icon ms-3"></i>
            
        </div>
  
</nav>