.none{
  display: none;
}

.block{
  display: block;
}
.navigation-bar{
    background: var(--color-navbar-bg);
    color: var(--color-navbar-header);
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 2rem;
    font-family:  'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing:1px;
    position: relative;
    border-bottom:var(--color-navbar-border);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
/* Left section */
.left-section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 1rem;
}
.bi-list::before{
  margin: 0 0.5rem;
  height: 2rem;
  cursor: pointer;
}
.bi-list{
  margin-bottom: 1rem;
  height:2.5rem;
}
.path-name{
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--color-navbar-path);
}
.date{
  font-size: 0.65rem;
  color: var(--color-navbar-date);
}


/* Right section */
.right-section{
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}
.user-welcome{
  padding-top: 0.2rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing:1px;
  color:var(--color-navbar-welcome);
}
.name{
  font-size: 1.1rem;
  background: var(--color-navbar-name);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.user-icon{
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-image: url('../../assets/images/icon1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid grey;
}

.mode-container{
    font-size:0.6em;
    height:2rem;
    width: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

.mode-container .night{
    background-color: whitesmoke;
}
.mode-container .bi{
    height: 102%;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-brightness-high-fill{
    color:whitesmoke;
    border-radius: 50%;
}
.bi-moon-fill{
    color: rgba(0, 0, 0, 0.69);
    border-radius: 50%;
    background-color: transparent;
}
.hidden{
  display:none;
}
