.container{
    width: 70%;
    max-width: 700px;
    background-color: var(--color-add-bg);
    position: relative;
    color:white;
    backdrop-filter: var(--color-swiper-blur);
    -webkit-backdrop-filter: var(--color-swiper-blur);
    border-radius: 1rem;
    box-shadow: var(--box-shadow-settings-container);
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.min-container, .max-container, .min, .max{
    width: 5rem;
}
.search-input{
    width: 75%;
}
input{
  background-color: var(--color-input-bg);
  border-color: var(--color-input-border);
  border-radius: 1.5rem;
  color:var(--color-add-input);
  font-weight: 500;
}
input[type=text]:focus,
 input[type=text]:active,
 input[type=number]:focus,
 input[type=number]:active{
  background-color: var(--color-input-bg);
  border-color: var(--color-input-border);
  color:var(--color-add-input);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.form-check-label {
  color: var(--color-add-checkbox-text);
}
.header{
  font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--color-add-header)
}
.submit-btn {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: var(--color-button-text);
  background: var(--color-btn-bg);
  border-radius: 1rem;
  position: absolute;
  right: 3rem;
  bottom: 2rem;
  font-size: 1rem;
  min-width: 8rem;
  transition: all 200ms ease;
  padding:0.25rem 0;
  border: none;
}
.submit-btn:hover {
  transform: translateY(-2px);
  box-shadow:var(--color-btn-shadow-hover);
  background-image: var(--color-btn-bg-hover);
}
.submit-btn:focus {
  box-shadow:var(--color-btn-shadow-hover);
}
.submit-btn:active {
  box-shadow:none;
  transform: translateY(2px);
}
