<div class=" bg-white sidebar">
    <!-- Top -> Logo & Close toggle -->
    <div class="sidebar-header">

        <div class="full-logo">
            <img src="../../assets/images/Logo-web.png" class="logo-image">
            <div>
               <span class="logo-name">
                   WEB<span class="violetT">SCRAPY</span>
                </span> 
            </div>
        </div>
    </div>

<hr>

    <!-- Side bar list -->
    <div class="sidebar-list ps-2">  

            <div 
            class="sidebar-link"
            (click)="clickedLink('DAILY NEWS')" 
            [class.active]="activeLink =='Dashboard'"
            [routerLink]="['daily-deals']"
            >
                <p class="flex">
                    <i class="bi bi-speedometer2"></i>
                    Dashboard
                    <span class="notification-count">3</span>
                </p>

                
            </div>

            <div 
            class="sidebar-link"
            (click)="clickedLink('NOTIFICATIONS')" 
            [class.active]="activeLink =='Notifications'"
            [routerLink]="['notifications']">
                <p class="flex">
                    <i class="bi bi-bell"></i>
                    Notifications
                    <span class="notification-count">1</span>
                </p>
            </div>

            <div 
            class="sidebar-link"
            (click)="clickedLink('WATCHLIST')" 
            [class.active]="activeLink =='Watchlist'"
            [routerLink]="['watchlist']"
            >
                <p class="flex">
                    <i class="bi bi-list-ul"></i>
                    Watchlist
                </p>
            </div>

            <div 
            class="sidebar-link"
            (click)="clickedLink('ADD TARGET')" 
            [class.active]="activeLink =='Add'"
            [routerLink]="['add-new']"
            >
                <p class="flex">
                    <i class="bi bi-plus"></i>
                    Add Target
                </p>
            </div>

            <div 
            class="sidebar-link"
            (click)="clickedLink('ACCOUNT')" 
            [class.active]="activeLink =='Account'"
            [routerLink]="['account']"
            >
                <p class="flex">
                    <i class="bi bi-person-circle"></i>
                    Account
                    <span class="notification-count">2</span>
                </p>
                
            </div>

            <div 
            class="sidebar-link"
            (click)="clickedLink('SETTINGS')" 
            [class.active]="activeLink =='Settings'"
            [routerLink]="['settings']">
                <p>
                    <i class="bi bi-gear"></i>
                    Settings
                </p>
            </div>

            

    </div>
    <div class="sidebar-link logout active">
        <p>
            <i class="bi bi-box-arrow-right"></i>
            Logout
        </p>
    </div>
















</div>