.sidebar{
    height:100%;
    position: fixed;
    padding: 0 1rem;
    width:inherit;
    overflow: hidden;
    background: var(--color-sidebar-bg);
}
/* Sidebar header */
.sidebar-header{
    padding-top: 1rem;
    padding-left: 0.3rem;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.full-logo{
    display: flex;
    align-items: center;
    justify-self: start;
}
.logo-image{
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.logo-name{
    font-size: 1.9rem;
    color:var(--color-text)
}
.scrapy{
    color: var(--color-scrapy);
}

.btn-close{
    margin-left: auto;
    cursor: pointer;
    font-size: 1.2rem;
}
.bi-x-lg::before{
    display: none;
}

/* Sidebar list */

.sidebar-list{
    display: grid;
    margin-top: 1.5rem;
}

/* Sidebar close */


/* Sidebar Link */
.sidebar-link{
    font-size: 1.5rem;
    height: 3rem;
    line-height: 3rem;
    padding-left: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    margin: 0.2rem 0;
    color:var(--color-sidebar-links);
}
.sidebar-link .bi{
    margin-right: 1.3rem;
}

/* Sidebar link animations */
.sidebar-list .active{
    background-color: var(--color-sidebar-links-active-bg);
    color: var(--color-sidebar-links-active);
    margin-left: -0.7rem;
    transition: all 200ms ease;
}
.sidebar-link:hover{
    color: var(--color-sidebar-links-active);
}
.sidebar-link p:hover{
    margin-left: -0.5rem;
    transition: all 200ms ease;
}

/* Sidebar notification counter */
.sidebar-link .notification-count{
    background-color: var(--color-notification-icon-bg);
    border-radius: 20%;
    height: calc(8px + 0.7rem);
    width: calc(0.7rem + 4px);
    color: var(--color-notification-icon-text);
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex{
    display: flex;
}

/* Logout button */
.logout{
    position: absolute;
    bottom: 2rem;
 }