<div class="container my-5 pt-2 pb-5">

    <form>
        <!-- Search Parameters -->
        <div class="form-group pt-2 pb-4">
            <label for="formGroupInput"> <span class="bold">Update Password</span> </label>
            <input type="text" class="form-control mt-2" id="formGroupInput" placeholder='"Current password"'>
            <input type="text" class="form-control mt-2" id="formGroupInput" placeholder='"New password"'>
            <input type="text" class="form-control mt-2" id="formGroupInput" placeholder='"Re-enter new password"'>
        </div>

       
        <!-- Notifications -->
        <div class="form-group">
            <label class="bold pb-2">Notification preferences</label>
            <div class="form-check">
                <input class="form-check-input position-static " type="checkbox" id="blankCheckbox" value="option1"
                    aria-label="..."> <span class="text-small">Email</span>
            </div>
            <div class="form-check">
                <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1"
                    aria-label="..."> <span class="text-small">
                        Browser Notifications
                    </span> 
            </div>            
        </div>

        <!-- Button Submit -->
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>