            <p class="welcome-message mb-3 mt-4"> New to WebScrapy? <span class="signup ms-1" routerLink="../signup">Sign up</span></p>

            <form class="login-form mb-1 mt-3">

                <div class="form-control">
                    <input
                    type="email"
                    [formControl]="emailForm"
                    placeholder="Email">
                    <i class="bi bi-person-fill"></i>
                </div>
                <p class="error-message ps-4 mt-2 mb-2"
                [ngClass]="invalidEmail()?'visible':'hidden'">
                  <span *ngIf="this.emailForm.hasError('required')">Email is required</span>.
                  <span *ngIf="this.emailForm.hasError('email')">Email is invalid</span>.
                </p>

                <button
                type="button"
                (click)="onSubmit()"
                class="submit my-2"
                *ngIf="!isLoading;else spinner">Reset password</button>
                <ng-template #spinner class="spinner-wrap" >
                  <spinner></spinner>
                </ng-template>


            </form>
