@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
:root{
    --color-purple:RGB(116, 47, 250);
    --color-green:#00fd61;
    --color-black: #000000;
}
.violetT{
    color:var(--color-purple);
}
.greenT{
    color:var(--color-green);
}
.blackT{
    color:var(--color-black);
}

body{
    background-color: rgb(242, 242, 242);
}
