<div class="m-0 px-4 pb-1 main-container">

  <div class="list-group-wrapper">

    <div class="list-group">

      <div class="list-group-item my-2" aria-current="true" *ngFor="let notification of notificationsList">
        <div class="item-cont">

          <img [src]="notification.item.imageUrl" alt="" class="notification-image me-2">

          <div class="container-fluid p-0 ps-2 content-cont">
            <div class="d-flex w-100">
              <h5 class="mb-1 item-header">{{notification.item.name}}</h5>
              <small class="item-date">{{notification.time}}</small>
            </div>

            <p class="mb-1"></p>
            <small class="item-price">Price: {{notification.item.price}}</small>

            <a [href]="notification.item.itemUrl" class="btn-buy text-center mx-3">VISIT LINK</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
